<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyChmfxzEsnTwnSsri_hOl3GCA0-9a9DHxk</string>
	<key>GCM_SENDER_ID</key>
	<string>533613239823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sanjayflutterapp</string>
	<key>PROJECT_ID</key>
	<string>emailpasswordauth-8caa0</string>
	<key>STORAGE_BUCKET</key>
	<string>emailpasswordauth-8caa0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533613239823:ios:66f43214884fd114bb8d7a</string>
</dict>
</plist>